@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.container-formulario {
    width: 90%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    position: relative;
    z-index: 3;
    /* Para garantir que o formulário esteja sobre as imagens de fundo */
}

.div-logo {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.div-logo img {
    width: 6rem;
}

.div-logo a {

    display: flex;
    justify-content: center;

    width: 6rem;

}

.formulario-cadastro  {
    color: #7F00FF;
}

.imagem-1 {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    /* Para garantir que a imagem principal esteja sobre as imagens de fundo */
}

.imagem-1 img {
    position: absolute;
    height: 90%;
    width: 100%;
}

.imagem-atras:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: 1;
    /* Imagem de fundo mais atrás */
    opacity: 0.9;
}

.imagem-atras:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 70%;
    z-index: 1;
    /* Imagem de fundo mais atrás */
    opacity: 0.7;
}

.imagem-principal {
    z-index: 2;
    /* Imagem principal */
    width: 80%;

}

.formulario-cadastro {
    flex: 1;
    background-color: #ffffff;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;

}

.card-inputs {
    height: 95%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.card-inputs p {
    text-align: center;
    /* Alinha o texto ao centro */
    margin-top: 20px;
    /* Adiciona um pouco de espaço acima */
}


.card-inputs input {
    width: 100%;
    padding: 10px;
    border: 0.15vw solid #7F00FF;
    border-radius: 5px;
    margin-bottom: 5px;
    /* Diminuir a margem inferior para aproximar o span */
}

.botao {
    padding: 10px;
    width: 80%;
    /* Reduzi para dar uma margem visual */
    border: none;
    border-radius: 0.25rem;
    margin-top: 20px;

    background-color: #7F00FF;
    color: white;
    text-align: center;

    transition: background-color 0.5s ease-in-out;

    font-size: 15px;
}

.botao button {

    width: 100%;
    text-align: center;
    /* Alinha o texto do botão ao centro */

}

.botao:hover {
    cursor: pointer;
    background-color: #420085;
}

.container-botao-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*mensagem de erro*/
.erro {
    color: red;
    font-size: 12px;
    margin: 0;
    ;
    display: none;
    /* Por padrão, o erro não é exibido */
}

.input-erro {
    border: 2px solid red;
}


.container-mensagem {
    color: #420085;
    text-align: center;
}


.div-dica-token {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 460px;
    right: 240px;
    z-index: 1000;
    color: #ffffff;
    background-color: #303030;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.div-dica-token.show{
    opacity: 1;
    transform: scale(1);
}

.bi {
    cursor: pointer;
    color: #000;
}

/* Responsividade */
@media (max-width: 768px) {
    .container-formulario {
        flex-direction: column;
        width: 100%;
    }

    .imagem-1 {
        display: none;
    }

    .formulario-cadastro {
        width: 80%;
        padding: 5%;
        margin-right: 0;

    }

    .card-inputs {
        width: 100%;
    }

    .botao {
        width: 100%;
    }
}


@media (max-width: 480px) {
    body {
        padding: 0 10px;
    }

    .card-inputs input {
        padding: 8px;
    }

    .botao {
        font-size: 14px;
    }
}