@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    display: flex;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-style: normal;

    --roxoTexto: #7F00FF;
    --roxoBotao: #7C00F8;
    --roxoCards: #783fd9;
    --roxoFooter: #210042;

    width: 100vw;
    height: 100vh;

}

/* -------------------------MENU LATERAL------------------------- */

h1{
    color: #7F00FF;
    margin: 6px;
}

.menu-lateral a{
    text-decoration: none;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 17%;
    background-color: #F1F2F7;
    
    margin-right: 10px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);

}


.menu-lateral div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    
    padding: 10px;
}


.menu-lateral button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8% 15% 8% 0% ;
    
    border: none;
    border-radius: 10%;
    font-size: 1.02rem;
    
    background-color: transparent;
    
    transition: ease-in-out 0.2s;
}

.menu-lateral button:hover {
    background-color: #A6ABC8 ; 
    color: black;
    cursor: pointer;
}

.menu-lateral img.icon {
    width: 25px;
    height: 25px;
}

/* ------------------------- MAIN SECTION ------------------------- */

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    width: 83%;
    
    overflow-x: hidden;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    
    padding: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

}

.navbar h3{
    margin: 0 25px;
}

.icon-navbar{
    width: 20px;
    height: 20px;
    
}

.navbar .icon{
    cursor: pointer;
}

