* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    scroll-behavior: smooth;

    --roxoTexto: #7F00FF;
    --roxoBotao: #7C00F8;
    --roxoCards: #783fd9;
    --roxoFooter: #210042;
}

body {
    overflow-x: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

::selection {
    background-color: var(--roxoBotao);
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: #8A2BE2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #210042;
}

a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

button {
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.titulos {
    font-size: xx-large;
    text-align: center;
}

.titulos_h2 {
    text-align: center;
    font-size: x-large;
}

.titulos_h3 {
    text-align: center;
    font-size: larger;
}

.span {
    font-size: larger;
    text-align: justify;
}

#equipe {
    scroll-margin-top: 180px;
}

#missao_visao_valores {
    scroll-margin-top: 170px;
}

#contato {
    scroll-margin-top: 170px;
}

/* -------------------------HEADER------------------ */

.header {
    background-color: white;
    width: 100%;
    height: 10%;
    max-width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 1.5625rem;
    font-weight: 600;
    flex: 0 0 15%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    font-size: large;
    font-weight: 500;
}

.logo .tech {
    color: var(--roxoTexto);
}

.navbar_botoes {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.botoes_header_container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botoes_header_container a {
    text-decoration: none;
}

.botoes_header {
    height: 1.875rem;
    border-radius: .625rem;
    text-align: center;
}

#botao_entrar_header {
    background-color: none;
    border: .1875rem solid var(--roxoTexto);
    color: black;
    width: 6.25rem;
    height: 2.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

#botao_entrar_header:hover {
    background-color: var(--roxoTexto);
    color: white;
    transition: 0.3s;
}

#botao_registrar_header {
    background-color: var(--roxoBotao);
    color: white;
    width: 8.6rem;
    height: 2.8rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo_mobile {
    display: none;
}

.mobile_menu {
    width: 12%;
    cursor: pointer;
    position: relative;
    z-index: 2000;
}

.mobile_menu div {
    display: none;
    width: 40px;
    height: 5px;
    margin: 8px;
    background: #210042;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.mobile_navbar {
    display: none;
}

/* ----------------------BANNER----------------- */

.banner {
    margin-top: 5%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.banner .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1%;
    align-items: self-start;
}

#logo_datatech_banner {
    width: 20%;
    margin-top: 1%;
}

.logo_banner {
    display: flex;
    justify-content: flex-start;
}

.texto_banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 10%;
}

.textos {
    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 30%;
}

.texto_botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    flex-grow: 1;
    height: 500px;
}

#imagem-banner {
    width: 50%;
}

#botao_cadastro_banner {
    background-color: var(--roxoBotao);
    color: white;
    width: 40%;
    height: 50%;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: large;
    box-shadow: 0rem .125rem .1875rem black;
}

.botao-cadastro-banner {
    display: flex;
    height: 25%;
    width: 90%;
    justify-content: flex-start;
}

/* ----------------------EQUIPE----------------- */

#equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5%;
    height: 550px;
    margin-bottom: 2%;
    margin-top: 2%;
}

#equipe .container {
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.seta {
    cursor: pointer;
    width: 40px;
    filter: drop-shadow(0px 1px 1px black);
    cursor: pointer;
    z-index: 1;
    margin: 1% 1% 0 1%;
}

.seta:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.titulo_equipe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.titulo_equipe .titulos {
    width: 83%;
}

.carrossel_equipe {
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.slide {
    display: flex;
    width: calc(100% * 6 / 3);
    height: 90%;
    transition: transform 0.5s ease-in-out;
    gap: 2%;
}

.cards_integrantes {
    border-radius: 20px;
    box-sizing: border-box;
    flex: 0 0 calc(100% / 3.18);
    height: 100%;
}

.foto-integrante {
    display: flex;
    justify-content: center;
    background-color: #210042;
    border-radius: 20px 20px 0 0;
    height: 80%;
    overflow: hidden;
}

.foto-integrante img {
    width: 80%;
}

#card_tiago #foto {
    width: 60%;
}

#card_vinicius #foto {
    width: 60%;
}

.desc {
    background-color: #D9D9D9;
    border-radius: 0 0 20px 20px;
    height: 40%;
    margin-top: -30px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc .span {
    font-size: medium;
}

.svg-icons {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
}

/* ---------------MISSÃO VISÃO E VALORES------------ */

.missao_visao_valores {
    height: 80vh;
    background-color: var(--roxoTexto);
}

.missao_visao_valores .container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.sessao {
    color: white;
    width: 100%;
    gap: 2%;
    max-width: 300px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sessao .span {
    text-align: center;
}

.sessao h1 {
    filter: drop-shadow(0rem .0625rem .1875rem black);
}

.sessao img {
    width: 100%;
    max-width: 200px;
    height: auto;
    filter: drop-shadow(0rem .0625rem .1875rem black);
}

/* --------------------TECNOLOGIAS----------------- */

.tecnologias {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecnologias .titulos {
    text-align: center;
}

.tecnologias .container {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cards {
    height: 78%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card {
    color: white;
    width: 30%;
    height: 300px;
    border: .5rem solid #ddd9e5;
    border-radius: 1.875rem;
    background-color: var(--roxoCards);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0rem .1875rem .5rem black;
}

.card .span {
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* --------------SERVIÇOS CAFÉ----------- */
.servico-cafe {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.servico-cafe .container {
    display: flex;
    flex-direction: column;
}

.titulo_servicos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.servico-cafe h1 {
    text-align: center;
}

.servico-cafe h2 {
    color: #783fd9;
}

.apresentacao_servicos {
    display: flex;
    gap: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 480px;
}

.texto-servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    width: 90%;
    height: 50%;
}

.texto-servicos .span {
    text-align: justify;
}

#cafeeiro-servico {
    width: 40%;
    border-radius: 20px;
}

.carrossel_servico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.texto_carrossel {
    display: flex;
    width: 50%;
    height: 100%;
    min-height: 400px;
    flex-direction: column;
    gap: 8%;
    justify-content: space-around;
    align-items: center;
}

.carrossel_servico_button {
    background-color: transparent;
    width: 40px;
    height: 100px;
    box-shadow: none;
    filter: drop-shadow(0px 1px 1px black);
}

.card-servico {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
    max-width: 550px;
    height: 130px;
    border: .5rem #ddd9e5;
    border-radius: 1.875rem;
    background-color: var(--roxoCards);
    align-items: center;
    text-align: center;
    box-shadow: 0rem .1875rem .5rem black;
    text-align: center;

}

.card-servico span {
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.texto-inicial {
    opacity: 1;
    position: absolute;
    font-size: large;
}

.texto-hover {
    opacity: 0;
}

.card-servico:hover .texto-inicial {
    opacity: 0;
}

.card-servico:hover .texto-hover {
    opacity: 1;
    font-size: medium;
}


.carrossel_servico_button img {
    width: 40px;
    height: 100px;
}

#card-servico2 {
    display: none;
}

#card-servico3 {
    display: none;
}

#card-servico4 {
    display: none;
}

.botao_cadastro_carrossel {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--roxoBotao);
    box-shadow: 2px 2px 3px black;
    border-radius: 8px;
    text-align: center;
}

.button_carrossel {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 40px;
}

/* ------------------CONTATO---------------- */

.contato {
    display: flex;
    justify-content: center;
    flex: 1;
}

.contato .container {
    width: 50%;
    gap: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    min-height: 70vh;
}

.form {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form h1 {
    color: var(--roxoTexto);
}

.titulo_contato {
    font-size: large;
    text-align: center;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.campo span {
    font-size: medium;
}

.form input {
    width: 70%;
    height: 2.875rem;
    border: .125rem solid var(--roxoBotao);
    border-radius: .625rem;
    box-sizing: border-box;
}

.form textarea {
    width: 70%;
    height: 6.25rem;
    border: .125rem solid var(--roxoBotao);
    border-radius: .625rem;
    box-sizing: border-box;
}

.img_direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}

.lista_contatos {
    width: 80%;
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 2%;
    align-items: start;
}

.sessao_contato span {
    flex-wrap: wrap;
}

.sessao_contato {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.sessao_contato img {
    width: 10%;
}

.sessao_contato span {
    font-size: smaller;
}

.imagem-contato-mobile {
    display: none;
}

.imagem-contato {
    width: 80%;
    height: 70%;
}

.contato_button {
    width: 70%;
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 2.1875rem;
    background-color: var(--roxoBotao);
    color: white;
    font-size: medium;
    border: none;
    border-radius: .5rem;
    box-shadow: 0rem .1875rem .3125rem black;
}

/* -----------------FOOTER--------------- */

.footer {
    height: auto;
    background-color: var(--roxoFooter);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.footer_titulo {
    height: 3rem;
    gap: 1rem;
}

.footer .data {
    color: white;
    font-size: xx-large;
}

.footer .tech {
    color: var(--roxoTexto);
    font-size: xx-large;
}

.direitos {
    color: white;
    font-size: medium;
}

.footer .lista_contatos {
    display: none;
}

/* -------------------- ANIMAÇÕES ------------------ */

@keyframes passarSlideEquipe_sumir {
    from {
        position: relative;
        right: 0;
        opacity: 100%;
    }

    to {
        position: relative;
        right: 150px;
        opacity: 0%;
    }
}

@keyframes passarSlideEquipe_aparecer {
    from {
        position: relative;
        left: 150px;
        opacity: 0%;
    }

    to {
        position: relative;
        left: 0px;
        opacity: 100%;
    }
}

@keyframes passarSlideProduto_foward_sumir {
    from {
        position: relative;
        right: 0;
        opacity: 100%;
    }

    to {
        position: relative;
        right: 50px;
        opacity: 0%;
    }
}

@keyframes passarSlideProduto_foward_aparecer {
    from {
        position: relative;
        left: 50px;
        opacity: 0%;
    }

    to {
        position: relative;
        left: 0;
        opacity: 100%;
    }
}

@keyframes passarSlideProduto_backward_sumir {
    from {
        position: relative;
        left: 0;
        opacity: 100%;
    }

    to {
        position: relative;
        left: 50px;
        opacity: 0%;
    }
}

@keyframes passarSlideProduto_backward_aparecer {
    from {
        position: relative;
        right: 50px;
        opacity: 0%;
    }

    to {
        position: relative;
        right: 0;
        opacity: 100%;
    }
}

@media only screen and (max-width: 1350px) {
    .button_carrossel {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 1250px) {

    .foto-integrante {
        flex: 0 0 100%;
    }

    .foto-integrante #foto {
        width: 100%;
    }

    #card_tiago #foto {
        width: 80%;
    }

    #card_vinicius #foto {
        width: 80%;
    }

    .cards {
        flex-wrap: nowrap;
    }

    .contato_button {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .footer {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 1024px) {

    .titulos {
        font-size: x-large;
    }

    .titulos_h2 {
        font-size: larger;
    }

    .titulos_h3 {
        font-size: large;
    }

    .span {
        font-size: medium;
    }

    .header .span {
        font-size: smaller;
    }

    .botoes_header_container a {
        font-size: smaller;
    }

    .cards_integrantes {
        flex: 0 0 48%;
    }

    .foto-integrante #foto {
        width: 90%;
    }

    #card_tiago #foto {
        width: 75%;
    }

    #card_vinicius #foto {
        width: 75%;
    }

    .slide {
        width: calc(100% * 6 / 2);
    }

    .missao_visao_valores {
        height: auto;
        gap: 1rem;
    }

    .cards {
        flex-wrap: nowrap;
    }

    .sessao {
        width: 45%;
        height: auto;
    }

    .sessao img {
        width: 40%;
    }

    .button_carrossel {
        margin-top: 2%;
    }

    .contato_button {
        margin-top: 2%;
    }

}

@media only screen and (max-width: 768px) {

    .titulos {
        font-size: larger;
    }

    .titulos_h2 {
        font-size: large;
    }

    .titulos_h3 {
        font-size: medium;
    }

    .mobile_navbar {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .header .container {
        width: 90%;
        justify-content: space-between;
    }

    .navbar_botoes,
    .logo,
    #logo_datatech_banner,
    #imagem-banner {
        display: none;
    }

    .logo_mobile,
    .mobile_menu div {
        display: block;
    }

    .menu_open .line1 {
        transform: rotate(45deg) translate(7px, 13px);
    }

    .menu_open .line2 {
        opacity: 0;
    }

    .menu_open .line3 {
        transform: rotate(-45deg) translate(4px, -12px);
    }

    .mobile_navbar.show {
        display: flex;
        position: fixed;
        flex-direction: column;

        right: 0;
        height: auto;
        width: 30%;

        background-color: var(--roxoFooter);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 0 25px;

        padding: 70px 20px;
        gap: 50px;
        z-index: 998;
    }

    .botoes_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: var(--roxoBotao);
    }

    #entrar {
        background-color: white;
        color: black;
    }

    .mobile_navbar .span {
        text-decoration: none;
        color: white;
    }

    #botao_cadastro_banner {
        width: 30%;
        height: 50%;
        font-size: medium;
    }

    .botao-cadastro-banner {
        justify-content: center;
    }

    .cards_integrantes {
        flex: 0 0 48.3%;
    }

    .foto-integrante #foto {
        margin-top: 14%;
        width: 100%;
        height: 80%;
    }

    .slide {
        width: calc(100% * 6 / 1);
    }

    .sessao {
        width: 90%;
    }

    .sessao img {
        width: 40%;
    }

    .tecnologias {
        height: auto;
        margin-top: 5%;
    }

    .card {
        width: 45%;
        height: 250px;
    }

    .card .span {
        font-size: small;
        text-align: center;
    }

    .cards {
        height: auto;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
        flex-wrap: wrap;
    }

    .apresentacao_servicos {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    #cafeeiro-servico {
        width: 80%;
        margin-top: 5%;
    }

    .card-servico,
    .texto_carrossel {
        width: 100%;
        gap: 17px;
    }

    .card-servico:hover .texto-hover {
        font-size: small;
    }

    .lista_contatos,
    .img_direita {
        display: none;
    }

    .contato {
        margin-bottom: 5%;
    }

    .form {
        justify-content: center;
        gap: 2%;
        width: 100%;
    }

    .campo {
        align-items: center;
    }

    .contato_button {
        width: 100%;
        justify-content: center;
    }

    .contato_button button {
        width: 50%;
    }

    .footer {
        height: auto;
        min-height: 250px;
    }

    .footer img {
        width: 8%;
    }

    .footer .lista_contatos {
        display: flex;
        width: 100%;
        color: white;
        flex-direction: column;
        align-items: center;
        gap: 5%;
    }

    .footer_titulo {
        width: 100%;
        height: auto;
        min-height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .sessao_contato {
        justify-content: center;
    }

}

@media only screen and (max-width: 600px) {

    .titulos {
        font-size: large;
    }

    .span {
        font-size: smaller;
    }

    .titulos_h2 {
        font-size: medium;
    }

    .titulos_h3 {
        font-size: smaller;
    }

    .texto_botao {
        width: 100%;
    }

    .titulo_equipe .span {
        text-align: center;
    }

    .cards_integrantes {
        flex: 0 0 98.3%;
    }

    .sessao {
        height: auto;
    }

    .sessao img {
        width: 30%;
    }

    .card {
        width: 73%;
        height: 250px;
    }

    .apresentacao_servicos {
        gap: 2%;
    }

    .sessao_contato {
        display: flex;
        width: 70%;
        justify-content: center;
        flex-direction: row;
    }

    .sessao_contato span {
        font-size: small;
    }

}

@media only screen and (min-width: 460px) and (max-width: 600px) {

    .cards_integrantes {
        flex: 0 0 98%;
    }

    .foto-integrante #foto {
        height: 90%;
        margin-top: 30px;
        width: 70%;
    }

    #card_tiago #foto {
        width: 60%;
    }

    #card_vinicius #foto {
        width: 60%;
    }
}

@media only screen and (max-width: 425px) {

    .cards_integrantes {
        flex: 0 0 98%;
        width: 36px;
        height: 75%;
        margin-top: 15%;
    }

    .foto-integrante #foto {
        width: 80%;
    }

    #card_yasmim #foto {
        width: 70%;
        border: #210042 solid;
    }

    .contato {
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .contato .container {
        width: 100%;
    }


}